body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

header {
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 10px;
}

#searchContainer {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

#plantName {
    padding: 5px;
    border: 1px solid #ccc;
}

#searchButton {
    padding: 5px 10px;
    background-color: darkred;
    color: white;
    border: none;
    cursor: pointer;
}

#plantInfo {
    margin-top: 20px;
}
